
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'crm_Suppliers_list' %}">
    Suppliers Listing
    </a>
</p>
    
<table class="table">
    <tr><td>supplier_id</td><td>{{ object.supplier_id }}</td></tr>
    <tr><td>company_name</td><td>{{ object.company_name }}</td></tr>
    <tr><td>contact_name</td><td>{{ object.contact_name }}</td></tr>
    <tr><td>contact_title</td><td>{{ object.contact_title }}</td></tr>
    <tr><td>address</td><td>{{ object.address }}</td></tr>
    <tr><td>city</td><td>{{ object.city }}</td></tr>
    <tr><td>region</td><td>{{ object.region }}</td></tr>
    <tr><td>postal_code</td><td>{{ object.postal_code }}</td></tr>
    <tr><td>country</td><td>{{ object.country }}</td></tr>
    <tr><td>phone</td><td>{{ object.phone }}</td></tr>
    <tr><td>fax</td><td>{{ object.fax }}</td></tr>
    <tr><td>homepage</td><td>{{ object.homepage }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}